{{ $imagename := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $title := .Get "title" }}
{{ $url := .Get "url" }}
{{ $caption := .Get "caption" }}
{{ $rel := .Get "rel" }}
{{ $target := .Get "target" }}
{{ $class := .Get "class" }}

{{ with .Site.GetPage "section" "media" }}
	{{ $original := .Resources.GetMatch (printf "*%s*.{png,jpg}" ($imagename)) }}
	{{ if $class }} 
		<figure class="{{ $class }}">
	   	{{- if $url -}}
		<a href="{{ $url }}"{{ with $target }} target="{{ $target }}"{{ end }}{{ with  $rel }} rel="{{ $rel }}"{{ end }}>
	   	{{- end }}
		{{ with $original }}
    		{{ if gt $original.Width 600 }}
        		{{ $image := $original.Resize "600x" }}
        		<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}"
        			{{- if $alt  }}
            			alt="{{ with $alt }}{{ $alt }}{{ end }}"
            		{{- end -}}
        			{{- if $title  }}
            			title="{{ with $title }}{{ $title }}{{ end }}"
            		{{- end -}}
        		/>
    		{{ else }}
        		<img src="{{ $original.RelPermalink }}" width="{{ $original.Width }}" height="{{ $original.Height }}"
        			{{- if $alt }}
            			alt="{{ with $alt }}{{ $alt }}{{ end }}"
            		{{- end -}}
        			{{- if $title }}
            			title="{{ with $title }}{{ $title }}{{ end }}"
            		{{- end -}}
        		/>
    		{{ end }}    
		{{ end }}
    	{{- if $url }}</a>{{ end -}}
    		{{- if $caption -}}
        		<figcaption>
                	<h4>{{ $caption | markdownify}}</h4>
        		</figcaption>
    		{{- end }}
		</figure>
	{{ else }}
		<figure class="big">
	   	{{- if $url -}}
	       <a href="{{ $url }}"{{ with $target }} target="{{ $target }}"{{ end }}{{ with  $rel }} rel="{{ $rel }}"{{ end }}>
	   	{{- end }}
		{{ with $original }}
    		{{ if gt $original.Width 1080 }}
        		{{ $image := .Resize "1080x" }}
        		<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}"
        		{{- if $alt  }}
            		alt="{{ with $alt }}{{ $alt }}{{ end }}"
            	{{- end -}}
        		{{- if $title  }}
            		title="{{ with $title }}{{ $title }}{{ end }}"
            	{{- end -}}
        		/>
    		{{ else }}
        		<img src="{{ $original.RelPermalink }}" width="{{ $original.Width }}" height="{{ $original.Height }}"
        		{{- if $alt }}
            		alt="{{ with $alt }}{{ $alt }}{{ end }}"
            	{{- end -}}
        		{{- if $title }}
            		title="{{ with $title }}{{ $title }}{{ end }}"
            	{{- end -}}
        		/>
    		{{ end }}    
		{{ end }}
    	{{- if $url }}</a>{{ end -}}
    	{{- if $caption -}}
        	<figcaption>
            	<h3>{{ $caption | markdownify}}</h3>
        	</figcaption>
    	{{- end }}
	</figure>
{{ end }}
{{ end }} 
